In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
output = pd.read_csv('train.csv', sep=',')
output.shape

(1460, 81)

In [3]:
for colname,col in output.iteritems():
    output[colname] = LabelEncoder().fit_transform(col)

output

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,5,3,36,327,1,2,3,3,0,...,0,3,4,4,0,1,2,8,4,412
1,1,0,3,51,498,1,2,3,3,0,...,0,3,4,4,0,4,1,8,4,339
2,2,5,3,39,702,1,2,0,3,0,...,0,3,4,4,0,8,2,8,4,442
3,3,6,3,31,489,1,2,0,3,0,...,0,3,4,4,0,1,0,8,0,194
4,4,5,3,55,925,1,2,0,3,0,...,0,3,4,4,0,11,2,8,4,494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,5,3,33,267,1,2,3,3,0,...,0,3,4,4,0,7,1,8,4,314
1456,1456,0,3,56,866,1,2,3,3,0,...,0,3,2,4,0,1,4,8,4,415
1457,1457,6,3,37,415,1,2,3,3,0,...,0,3,0,2,17,4,4,8,4,527
1458,1458,0,3,39,505,1,2,3,3,0,...,0,3,4,4,0,3,4,8,4,199
1459,1459,0,3,46,532,1,2,3,3,0,...,0,3,4,4,0,5,2,8,4,221